.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.snoopy-fill{
  background-color: #ffdf00;
}

.block{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

div.topLeft{
  width: 50px; 
  height: 50px;
  position: sticky;
  left: 10px;
  top: 10px;
}
.bottom{
  margin-bottom: 0;
}

#header,#menu{
  z-index: 1;
}

.stack{
  z-index: 9;
  margin: 20px;
}

menu:hover{
  opacity: 0.5;
}

.material-icons.md-8, .font-size-8{ 
    font-size: 8px; 
}

.material-icons.md-12, .font-size-12{ 
    font-size: 12px; 
}

.material-icons.md-18, .font-size-18{ 
  font-size: 18px; 
}
.material-icons.md-24, .font-size-24{ 
  font-size: 24px; 
}
.material-icons.md-36, .font-size-36{ 
  font-size: 36px; 
}
.material-icons.md-48, .font-size-48{ 
  font-size: 48px; 
}

.peanuts-font{
  font-family: "Peanuts";
}

.willywonka-font{
  font-family: "WillyWonka";
}

.african-font{
  font-family: "African";
}

.full{
    height: 100%;
}

.charlie-brown-gallery{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
}

.music-gallery{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;

  .m-pic-1{
    grid-area: 1 / 1 / span 2 / span 1;
  }
  .m-pic-2{
    grid-area: 1 / 2 / span 2 / span 1;
  }
}

.dark-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
  
    .d-pic-1{
        grid-area: 1 / 1 / span 2 / span 1;
      }
      .d-pic-2{
        grid-area: 1 / 2 / span 2 / span 2;
      }
      .d-pic-3{
        grid-area: 3 / 1 / span 2 / span 2;
      }
      .d-pic-4{
        grid-area: 3 / 3 / span 2 / span 1;
      }
      .d-pic-5{
        grid-area: 5 / 1 / span 1 / span 1;
      }
      .d-pic-6{
        grid-area: 5 / 3 / span 1 / span 1;
      }
  }

.anatomy-gallery{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;

  .a-pic-1{
    grid-area: 1 / 1 / span 4 / span 2;
  }
  .a-pic-2{
    grid-area: 1 / 3 / span 2 / span 2;
  }
  .a-pic-3{
    grid-area: 3 / 3 / span 2 / span 2;
  }
  .a-pic-4{
    grid-area: 5 / 1 / span 2 / span 4;
  } 
}

.smiths-gallery, .wonka-gallery, .savage-gallery{
  display: grid;
  grid-template-columns: 32.5% 67.5%;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;

  .pic1 {
    grid-area: 1 / 1 / span 1 / span 1;
  }
  .pic2 {
    grid-area: 1 / 2 / span 2 / span 2;
  }
  .pic3 {
    grid-area: 2 / 1 / span 1 / span 1;
  }
  
  .s-pic-1{
    grid-area: 1 / 1 / span 2 / span 1;
  }
  .s-pic-2{
    grid-area: 1 / 2 / span 2 / span 2;

  }
  .s-pic-3{
    grid-area: 3 / 1 / span 2 / span 2;
  }
  .s-pic-4{
    grid-area: 5 / 1 / span 2/ span 2;
  } 
  .s-pic-5{
    grid-area: 7 / 1 / span 2/ span 2;
  }
}

@media only screen and (max-width: 900px) {
  .full{
      height: auto;
  }
  .charlie-brown-gallery{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }

  .dark-gallery{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    .d-pic-1{
        grid-area: 1 / 1 / span 1 / span 1;
      }
      .d-pic-2{
        grid-area: 2 / 1 / span 1 / span 1;
      }
      .d-pic-3{
        grid-area: 3 / 1 / span 1 / span 1;
      }
      .d-pic-4{
        grid-area: 4 / 1 / span 1 / span 1;
      }
      .d-pic-5{
        grid-area: 5 / 1 / span 1 / span 1;
      }
      .d-pic-6{
        grid-area: 6 / 1 / span 1 / span 1;
      }
  }
}

// for small screen
@media only screen and (max-width: 1200px) {
  .full{
      height: auto;
  }
  .smiths-gallery, .wonka-gallery, .savage-gallery, .music-gallery, .anatomy-gallery, .dark-gallery{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 10px;

    .pic1 {
      grid-area: 2 / 1 / span 1 / span 1;
    }
    .pic2 {
      grid-area: 1 / 1 / span 1 / span 1;
    }
    .pic3 {
      grid-area: 3 / 1 / span 1 / span 1;
    }

    .s-pic-1{
      grid-area: 1 / 1 / span 2 / span 1;
    }
    .s-pic-2{
      grid-area: 3 / 1 / span 1 / span 1;
  
    }
    .s-pic-3{
      grid-area: 4 / 1 / span 1 / span 1;
    }
    .s-pic-4{
      grid-area: 5 / 1 / span 1/ span 1;
    } 
    .s-pic-5{
      grid-area: 6 / 1 / span 1/ span 1;
    }

    .m-pic-1{
      grid-area: 1 / 1 / span 1 / span 1;
    }
    .m-pic-2{
      grid-area: 2 / 1 / span 1 / span 1;
    }

    .a-pic-1{
      grid-area: 1 / 1 / span 1 / span 1;
    }
    .a-pic-2{
      grid-area: 2 / 1 / span 1 / span 1;
    }
    .a-pic-3{
      grid-area: 3 / 1 / span 1 / span 1;
    }
    .a-pic-4{
      grid-area: 4 / 1 / span 1 / span 1;
    }
  }
}
