.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.block{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

div.topLeft{
  width: 50px; 
  height: 50px;
  position: sticky;
  left: 10px;
  top: 10px;
}
.bottom{
  margin-bottom: 0;
}

.stack{
  z-index: 9;
  margin: 20px;
}

a.menu.light{
  color: #f8f9fa;
}

a.menu.dark{
  color: #343a40;
}
a.menu.shirley{
  color: #58A6FF;
}
a.menu.wonka{
  color: #ffe15e;
}
a.menu.ethel{
  color: #fc702f;
}
a.menu.white{
  color: white;
}

a.menu.black{
  color: black;
}

a.menu:hover{
  opacity: 0.5;
}

.material-icons.md-18{ 
  font-size: 18px; 
}
.material-icons.md-24{ 
  font-size: 24px; 
}
.material-icons.md-36{ 
  font-size: 36px; 
}
.material-icons.md-48{ 
  font-size: 48px; 
}

.peanuts-font{
  font-family: "Peanuts";
}

.charlie-brown-gallery{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .charlie-brown-gallery{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
}
